.newButton {
    color: var( --color-white);
    width: 144px;
    height: 40px;
    border-radius: 5px;
    border: none;
    font-family: 'Raleway';
    font-weight: 800;
}

.red {
    background-color: var(--color-red);
}

.blue{
    background-color: var(--color-blue); 
}