.red-h2 {
  color: var(--color-red);
}

.header_bottom {
  font-family: Rubik;
  font-weight: 700;
  font-size: 44px;
  margin-top: 0px;
  margin-bottom: 14px;
}

.paragraph-footer {
  font-family: Rubik;
  font-weight: 400;
  font-size: 12px;
  color: var(--color-gray);
  text-align: center;
  margin-top: 0px;
}

.text {
  text-align: center;
  margin: 79.59px 191px 46.17px 192px;
}

.square {
  width: 278.17px;
  height: 276.52px;
  border-radius: 8px;
  background-color: #ffffff;
  position: relative;
  box-shadow: 0px 0px 10px rgba(88, 126, 236, 0.18);
}

.square-content {
  padding: 36.65px 17.82px;
  text-align: center;
}

.square-title {
  font-family: Rubik;
  font-weight: 700;
  font-size: 16px;
  margin-top: 0px;
  margin-bottom: 4px;
}

.grey-text {
  font-size: 12px;
  font-family: Rubik;
  font-weight: 400;
  color: var(--color-gray);
  margin: 0;
}

.square-text {
  margin-top: 58px;
}

.squares-block {
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 70.43px;
}

.logo-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40.3px;
}

.img-logo {
  padding-right: 56.59px;
}

.img-logo:nth-child(2) {
  padding-right: 0px;
}

.square {
  margin-right: 72px;
  z-index: 2;
}

.square:nth-child(3) {
  margin-right: 0px;
}

.rectangle-red1 {
  width: 65.75px;
  height: 65.75px;
  background-color: var(--color-red);
  border-radius: 16px;
  rotate: 30deg;
  position: absolute;
  left: -19px;
  bottom: -24px;
}

.rectangle-red2 {
  width: 96.96px;
  height: 96.96px;
  background-color: var(--color-red);
  border-radius: 30px;
  rotate: -165deg;
  position: absolute;
  left: 233px;
  top: 31.31px;
}

.rectangle-red3 {
  width: 127.47px;
  height: 127.47px;
  background-color: var(--color-red);
  border-radius: 30px;
  rotate: 30deg;
  position: absolute;
  bottom: -25.86px;
  right: 247px;
}

.rectangle-red4 {
  width: 65.75px;
  height: 65.75px;
  background-color: var(--color-red);
  border-radius: 16px;
  rotate: 30deg;
  position: absolute;
  top: -20px;
  right: -28.51px;
}

.div-blocks-content {
  display: flex;
  justify-content: center;
}
