.nav-item {
    list-style-type: none;
    margin-right: 40px;
}

.nav-list {
    display: flex;
}

a {
    color: black;
    text-decoration: none;
    font-family: Raleway;
    font-weight: 700;
    font-size: 10px;
    line-height: 11.74px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 37px 43px 0 37px;
    background-color: #FAFBFD;
}