.safe {
  padding: 79px 186px 79px 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-container {
  display: flex;
  justify-content: space-between;
}

.img-safe {
  margin-right: 149px;
}
