.hero {
  padding: 76px 52.57px 48px 70px;
  align-items: center;
  background-color: #fafbfd;
  display: flex;
  justify-content: center;
}

.hero-container {
  display: flex;
  justify-content: space-between;
}

.bottom-block {
  margin-top: 148px;
  display: flex;
  align-items: center;
}

.title {
  font-family: Rubik;
  font-weight: 400;
  font-size: 13px;
  color: #b0b0b0;
  margin-top: 0;
  margin-bottom: 5px;
}

.content {
  font-family: Rubik;
  font-weight: 400;
  font-size: 9px;
  margin: 0;
}

.text-block-bottom {
  padding-left: 12px;
}
/* 
.text-block {
    padding-left: 12px;
} */
