.red-text {
    color: red;
}

.blue-text {
    color: blue;
}

.heading {
    color: black;
    font-family: Rubik;
    font-weight: 700;
    font-size: 44px;
    margin-top: 0;
    margin-bottom: 12px;

}

