.experts {
    padding: 53px 71px 116px 92px;
    align-items: center;
    background-color: #fafbfd;
  }
  
  .hero-container {
    display: flex;
    justify-content: space-between;
  }
  
  .experts-block {
    display: flex;
  }

  .center-image {
    display: block;
    margin: auto;
    padding-bottom: 46.26px;
  }